html {
  font-family: sans-serif;
  font-size: 12pt;
}

body {
  max-width: 60em;
  margin: 2ex auto;
}

h1, h2, h3, li::marker {
  color: #800;
}

h1 {
  font-weight: normal;
  font-size: 200%;
  margin: 0 0 2ex 0;
  border-bottom: solid 1pt;
  padding: 0 0 1ex 0;
}

header {
  margin: 0 0 2ex 0;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
  font-style: italic;
  text-align: right;
}

h2 {
  font-weight: bold;
  font-size: 120%;
}

h3 {
  font-weight: normal;
  font-size: 100%;
}

li::marker {
  font-weight: bold;
}

dt {
  font-weight: bold
}

blockquote {
  font-style: italic;
}
